APP_NAME=firetv-partner-platform-simulator-api
ENVIRONMENT=dev
DEBUG=true
API_HOST=0.0.0.0
API_PORT=8000

POSTGRES_USER=simulator
POSTGRES_PASSWORD=simulator
POSTGRES_DB=simulator_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Optional override:
# DATABASE_URL=postgresql+psycopg://simulator:simulator@localhost:5432/simulator_db
